@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.animinate {
  animation: animinate-bounce 300ms ease-in-out;
  width: 700px;
}
textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
textarea {
  height: inherit;
}
.h-postimg {
  max-height: 40rem;
  object-fit: scale-down;
  max-width: 32rem;
}
.drop-shadow {
  animation: drop ease infinite;
}
.max-h-popup {
  max-height: 75vh;
}

.post {
  animation: move 700ms ease-in-out;
}
.postanimiate {
  animation: tras 500ms ease;
}

@keyframes drop {
  0% {
    border: 20px solid red;
  }
  50% {
    border: none;
  }
}
@keyframes animinate-bounce {
  0% {
    transform: translate(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
.title {
  font-family: "Dancing Script", cursive;
}

@keyframes move {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tras {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
