@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.animinate {
  animation: animinate-bounce 300ms ease-in-out;
  width: 700px;
}
textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
textarea {
  height: inherit;
}
.h-postimg {
  max-height: 34rem;
  max-width: 30rem;
}

.max-h-popup {
  max-height: 75vh;
}
@keyframes animinate-bounce {
  0% {
    transform: translate(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
.title {
  font-family: "Dancing Script", cursive;
}
